.menu-divider {
    border: none;
    border-top: 1px solid #000;
    //margin: 20px 0;
}
#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        ul{
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            li{
                list-style-type: none;
                padding-right: 60px;

                a{
                    color: black;
                    text-decoration: none;
                    }
            }
        }
    p{
        text-transform: uppercase;

    }
    .footer_text{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
    }
}