@keyframes title-up {
	0% {
	  opacity: 0;
	  transform: translateY(-70px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;

    .burger_menu {
        display: none; // Le bouton est caché par défaut
        cursor: pointer;
        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 5px 0;
            transition: 0.3s;
        }
    }

    .close_icon {
        display: none; // La croix est cachée par défaut
        cursor: pointer;
        font-size: 30px; // Taille de la croix
        position: absolute; // Positionnement absolu pour placer la croix
        top: 20px; // Position verticale
        right: 20px; // Position horizontale
    }

    #navigation{
            ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                text-transform: uppercase;
                
                    li{
                        font-size: 16px;
                        padding-right: 40px;
                        text-align: center;
                            a{
                            color: black;
                            text-decoration: none;
                            cursor: pointer;
                            }
                    }
            }
    }
    .mota_logo{
        width:240px;
        height: 16px;
    }
}   

/* bouton fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding:4px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  // *******************Affichage mobile************************//


@media (max-width: 768px) {
    .nav_bar{
        padding-right: 2%;
            .burger_menu {
                display: block; // Affiche le bouton sur les petits écrans
            }

            #navigation {
                display: none; // Cache le menu de navigation
                position: absolute;
                flex-direction: column; // Pour afficher les éléments en colonne
                align-items: center; // Pour centrer les éléments
                justify-content: center;
                width: 100%; // Pour occuper toute la largeur
                background-color:#e00000 ;
                z-index: 100;
                top: 9%;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
               
                animation: title-up 1.5s ease-in-out forwards;
				
                
                ul {
                        display: flex;
                        flex-direction: column;
                        width: 100%; // Pour occuper toute la largeur
                    

                        li{
                            font-size: 44px;
                            text-align: center;
                            padding-bottom: 10%;
                                a{
                                color:#ffffff;
                                padding-bottom: 10%;
                                }
                            }
                    }
            }
            

            // Lorsque .is-active est ajouté à #navigation, le menu s'affiche
            #navigation.is-active {
                display: flex;
            }

            #navigation.is-active + .close_icon {
                display: block; // Affiche la croix lorsque le menu est actif
            }
    }
        
}

 