.lightbox{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .90);
    z-index: -1;
    overflow: auto;
    transition: opacity 0.3s;
    opacity: 0;
    visibility: none;


    
        &.fadeIn{
            opacity: 1;
            visibility: visible;
            z-index: 90;
        }

        .lightbox__next{
            background: url(assets/images/arrownext.png) no-repeat;
            width:100px;
            height: 20px;
            top: 50%;
            right: 2%;
            margin-top: 14px;
           
       

        } 
        .lightbox__prev{
            background: url(assets/images/arrowprev.png) no-repeat;
            width:100px;
            height: 20px;
            top: 50%;
            left: 2%;
            margin-top: 14px;
        }
        .lightbox__prev:hover,
        .lightbox__next:hover,
        .lightbox__close:hover{
            opacity: 1;
        }
        .lightbox__close{
            background: url(assets/images/crossclose.png) center center / 22px no-repeat;
            width: 50px;
            height: 50px;
            right: 2%;
            
        }
        button{
            opacity: 0.5;
            z-index: 11;
            cursor: pointer;
            border: none;
            position: fixed;
        }


        .lightbox__container{
            display: flex;
            flex-direction: column; //pour empiler verticalement l'image et les informations
            align-items: center;
            justify-content: center;
            margin:5% 10%;
            min-height: 100vh;

            img{
                
                max-width: 100%;
                height: auto;
            }
             .lightbox_info{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 width: 100%;
                 color: #fff;
                 
                

               .lightbox_ref {
                    text-align: left;
                    color: #fff;
                    margin-left: 10%;
                    
                }
            
                .lightbox_cat {
                    text-align: right;
                    color: #fff;
                    margin-right:10%;
                }
            }
        }
}
