/*grille photo*/
.photo_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 5%;
  }

.photo_simple {
    width: calc(50% - 10px); /* Moitié de la largeur de la page moins un espace entre les colonnes */
    margin-bottom: 20px; /* Espacement entre les lignes */
    overflow: hidden;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    //object-fit: cover;
   // object-position: center;

    &:hover {
        .overlay {
            //display: flex;
            opacity: 1;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
        
    
        .photo_reference {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff; 
        }

        .photo_category {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: #fff; 
        }
        
        /*liens photos vers lightbox ou photo-publi*/
        a{
            position: relative;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                z-index: 1;
            }
           
                &.link_lightbox{
                    position: absolute;
                    top:4%;
                    right: 4%;
                    z-index: 5;
                }
                &.link_publi{
                    position: absolute;
                    top:50%;
                    right: 50%;
                    z-index: 5;
                    }
                
                .img_lightbox, .img_publi{
                    position: absolute;
                    width: 30px;
                    height: auto;
                    
                }
                .img_publi{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .img_lightbox{
                    top: 10%;
                    left: 90%;
                    transform: translate(-90%, -10%)
                }
        }
    }    
}

 // *******************Affichage mobile************************//
 @media (max-width: 768px) {
    /*grille photo*/
    .photo_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% 5%;
    }

    .photo_simple {
        margin-bottom: 20px; /* Espacement entre les lignes */
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        
           img{ 
            width: 100%;
            max-height: 60vh;
            object-fit: cover;
           }
         
    }

 }